@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    min-width: 1320px;
    font-family: 'Pretendard-Regular';
    color: black;
}

/* 헤더 시작 */
.top {
    width: 100%;
    height: 40px;
    background-color: #952b28;
    color: white;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    align-items: center;
}

.top p {
    position: absolute;
    left: 43.3%;
    top: 30%;

}

.top a {
    color: white;
}

.top img {
    width: 8px;
}

#left {
    position: absolute;
    left: 3%;
    top: 35%;

}

#right {
    position: absolute;
    right: 3%;
    top: 35%;
}

/* 내비게이션 */
.nav {
    width: 100%;
    height: 100px;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
}

.nav img {
    width: 220px;


}

.nav ul {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;


}

.nav li:hover a {
    color: #952b28;

}

.right {
    position: absolute;
    left: 2%;
}

.right a {
    margin-right: 40px;

}

.left {
    position: absolute;
    right: 2%;
}

.left a {
    margin-left: 40px;
}

/* 배너 */
.banner {
    width: 100%;
    position: relative;
}

.banner video {
    display: block;
    width: 100%;
    /* 동영상 높이 800으로 편집하기 */
}

.banner_text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* tap */
.tap {
    width: 1320px;
    margin: 100px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.tap p {
    font-weight: bold;
    padding: 10px 50px;
    margin: 0 5px;
    border: #952b28 2px solid;
    border-radius: 5px;
    color: #952b28;
    font-size: 24px;
}

.tap a:hover p {
    background-color: #952b28;
    color: white;
}

.tap .active p {
    background-color: #952b28;
    color: white;
}

/* 와인 */
.wine {
    font-family: 'suit';
    width: 1320px;
    height: 1000px;
    margin: auto;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-size: 100%;
    padding-top: 60px;
    overflow: hidden;
}

.wine_top {
    display: block;
    width: 1320px;
    height: 100px;
    margin: auto;
}

.wine h3 {
    margin-top: 40px;
    font-size: 30px;
}

.wine p {
    font-size: 20px;
    margin-top: 10px;

}

.wine_img {
    width: 650px;

}

.wine_text {
    width: 500px;
}

/* 와인1 */
.wine .box1 {
    margin-top: 50px;
}

.wine .box1 a {
    padding: 15px 70px;
    background-color: #ae2e29;
    font-size: 20px;
    color: white;
}

.wine .box1 a:hover {
    background-color: #4f0502;
    transition: all 0.3s;
}

/* 와인2 */
.wine .box2 {
    margin-top: 50px;
}

.wine .box2 a {
    padding: 15px 70px;
    background-color: #088144;
    font-size: 20px;
    color: white;
}

.wine .box2 a:hover {
    background-color: #01140a;
    transition: all 0.3s;
}

/* 와인3 */
.wine .box3 {
    margin-top: 50px;
}

.wine .box3 a {
    padding: 15px 70px;
    background-color: #670a7e;
    font-size: 20px;
    color: white;
}

.wine .box3 a:hover {
    background-color: #260130;
    transition: all 0.3s;
}

/* 와인4 */
.wine .box4 {
    margin-top: 50px;
}

.wine .box4 a {
    padding: 15px 70px;
    background-color: #e6763a;
    font-size: 20px;
    color: white;
}

.wine .box4 a:hover {
    background-color: #c34501;
    transition: all 0.3s;
}

/* 와인5 */
.wine .box5 {
    margin-top: 50px;
}

.wine .box5 a {
    padding: 15px 70px;
    background-color: #067664;
    font-size: 20px;
    color: white;
}

.wine .box5 a:hover {
    background-color: #01201b;
    transition: all 0.3s;
}

/* 와인6 */
.wine .box6 {
    margin-top: 50px;
}

.wine .box6 a {
    padding: 15px 70px;
    background-color: #0a98ab;
    font-size: 20px;
    color: white;
}

.wine .box6 a:hover {
    background-color: #012f35;
    transition: all 0.3s;
}

/* 와인7 */
.wine .box7 {
    margin-top: 50px;
}

.wine .box7 a {
    padding: 15px 70px;
    background-color: #4459c5;
    font-size: 20px;
    color: white;
}

.wine .box7 a:hover {
    background-color: #030b35;
    transition: all 0.3s;
}

/* section2 */
.buy1 {
    width: 1320px;
    margin: 50px auto 200px;
    text-align: center;
    padding: 100px 0 0 0;
}

.buy1 h1 {
    font-size: 72px;
}

.buy1 h4 {
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 100px;
}

/* 스크롤 꾸미기 */
.scroll {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
}

/* 푸터 */
footer {
    width: 100%;
    background: url(../images/main/footer/footer_bg.png) no-repeat 50% 0;
    background-size: cover;
    color: white;
    font-family: 'G마켓 산스 TTF light';
}

footer ul {
    width: 1320px;
    margin: auto;
    padding: 100px 0 80px;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}



footer p {
    margin-top: 50px;
}

.icon {
    margin: 30px 0 0;

}

.icon img {
    margin-right: 30px;
    opacity: 0.7;
}

.icon a:hover img {
    opacity: 1;
}